.prices-container {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
.prices-container{
    flex-direction: row;
    justify-content: space-evenly;
}
}
